
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

*{
    margin: 0;
    padding: 0;
}
.Home-background{
    background-image: url('./img/Image1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width: 100%;
    margin: 0;
}

header{
    position: relative;
    padding: 0 2em;
}

.fixed-top{
    background-color: rgb(34, 131, 68);
    width: 100%;
    margin:0;
    right: 0;
    height: 60px;
}
.logo{
    padding-left: 150px;
    padding-top: 20px;
}

.fixed-top .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

/*Dropdown Menu */
.dropdown-menu{
    display:none;
    position: absolute;
    right: 5rem;
    top:50px;
    overflow: hidden;
    height:500px;
    line-height:300%;
}

.dropdown-menu li a{
    padding:5px 1px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.dropdown-menu{
    display: block;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.dropdown-menu a:hover{
    color: orange;
}


/* -----Contact-----*/
.Cont-background{
    position: absolute;
    background-color: black;
    height: 100vh;
    width: 100%;
    margin:0;
}
.box1{
    width: 600px;
    background-color:rgb(190, 204, 216);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin:3% auto;
    padding: 20px;
    border-radius: 10px;
}

.Contact{
    font-family: "Bungee Tint", sans-serif;
}

.box2{
    width: 600px;
    background-color:rgb(190, 204, 216);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin:0 auto;
    padding: 20px;
    border-radius: 10px;
}

.GetinTouch{
    font-family: "Bungee Tint", sans-serif;
}

input,textarea{
    border: 0;
    margin-bottom: 10px;
    padding: 2px;
    outline: none;
    background-color: lightgray;
    width:50%;
}
input:focus,textarea:focus{
    border-bottom: 2px solid black;
}

.submit{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: black;
    cursor: pointer;
}

.submit:hover{
    color: black;
    background-color: rgb(169,195,217);
}

.icon{
    position: absolute;
    top:70%;
    right:40%;
}

/*-----Service------*/
.Ser-background{
    position: relative;
    background-color: blue;
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100%;
    margin: 0;
}

/*-----Gallary----*/
.Gallary-background{
    position: relative;
    background-color: rgb(0, 229, 255);
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100%;
    margin: 0;
}

/*----About Us----*/
.Aboutus{
    background-color: rgb(0, 255, 132);
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100%;
    margin: 0;
}
